image:
  registry: docker.io
  repository: postgres
  tag: "16"

postgresql:
  existingSecret: postgres-secrets
  username: "cuecards"
  database: "cuecards_db"
  password: "123456"

service:
  type: ClusterIP
  port: 5432

primary:
  persistence:
    enabled: true
    size: 10Gi
    storageClass: local-path

resources:
  requests:
    cpu: 250m
    memory: 512Mi
  limits:
    cpu: 500m
    memory: 1Gi

metrics:
  enabled: true
